{{- $page := .Page -}}
<div class="gallery-grid">
  {{- range $page.Resources.ByType "image" }}
    {{- $img := . -}}
    {{- $date := $img.Lastmod | time.Format "1/2/06 3:04 PM" -}}
    <div class="gallery-item">
      <a href="{{ $img.RelPermalink }}" target="_blank">
        <img src="{{ $img.RelPermalink }}" loading="lazy" alt="{{ $img.Name }}">
      </a>
      <div class="gallery-caption">
        <span class="filename">{{ $img.Name }}</span>
        <span class="filedate">{{ $date }}</span>
      </div>
    </div>
  {{- end }}
</div>